.info-widget {
    width: 31.75%;
    border: 1px solid black;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.middle {
    float: left;
    width: 1000px;
    overflow: auto;
    /*will change this to hidden later to deny scolling to user*/
    white-space: nowrap;
    display: flex;
}

.container {
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
}
