<!-- <button (click)="scrollLeft()">
    left
</button>
<div #widgetsContent class="widgetDiv" (wheel)="onWheel($event)">
</div>

<button (click)="scrollRight()">
    right
</button> -->



<div class="container">
    <div style="float: left">
        <button (click)="scrollLeft()">left</button>
    </div>

    <div #widgetsContent class="middle">
        <!-- <div class="info-widget">
            WIDGET
        </div>
        <div class="info-widget">
            WIDGET
        </div>
        <div class="info-widget">
            WIDGET
        </div>
        <div class="info-widget">
            WIDGET
        </div>
        <div class="info-widget">
            WIDGET
        </div>
        <div class="info-widget">
            WIDGET
        </div> -->
        <div style="border-left: 5px solid red;">oneeeeeee eeeeeeeeeee </div>
        <div style="border-left: 5px solid red;">oneeeeeee eeeeeeeeeee </div>
        <div style="border-left: 5px solid red;">oneeeeeee eeeeeeeeeee </div>
        <div style="border-left: 5px solid red;">oneeeeeee eeeeeeeeeee </div>
        <div style="border-left: 5px solid red;">oneeeeeee eeeeeeeeeee </div>
        <div style="border-left: 5px solid red;">oneeeeeee eeeeeeeeeee </div>
        <div style="border-left: 5px solid red;">oneeeeeee eeeeeeeeeee </div>
        <div style="border-left: 5px solid red;">oneeeeeee eeeeeeeeeee </div>
        <div style="border-left: 5px solid red;">oneeeeeee eeeeeeeeeee </div>
        <div style="border-left: 5px solid red;">oneeeeeee eeeeeeeeeee </div>
        <div style="border-left: 5px solid red;">oneeeeeee eeeeeeeeeee </div>
        <div style="border-left: 5px solid red;">oneeeeeee eeeeeeeeeee </div>
        <div style="border-left: 5px solid red;">oneeeeeee eeeeeeeeeee </div>
    </div>

    <div style="float: right">
        <button (click)="scrollRight()">right</button>
    </div>
</div>









<app-native-scroll2></app-native-scroll2>


