<!-- <mat-form-field>
</mat-form-field> -->

<!-- <input matInput placeholder="First Name" #firstname> -->

<!-- <button mat-button id="avatarButton" #btnRef="matButton">test button</button> -->


<!-- <button mat-icon-button> -->
    <!-- <mat-icon>camera_alt</mat-icon> -->
    <!-- <img tabindex="0" alt="App Logo" class="image" src="assets/img_avatar.png" height="100px" width="100px"> -->
    <!-- <img src="assets/img_avatar.png" alt="Trulli" height="40px" width="40px" style="borer-radius:50%"> -->
<!-- </button> -->

<button mat-icon-button #buttonRef="matButton">
    <img src="https://www.w3schools.com/html/pic_trulli.jpg" alt="Trulli" height="40px" width="40px"
        style="border-radius:50%">
</button>

<!-- <img tabindex="0" alt="App Logo" class="image" src="assets/img_avatar.png" height="100px" width="100px"> -->

