
// .selected {
//    background-color: #cccccc;
// }

// ::ng-deep .mat-step-label mat-icon {
//     display: none;
// }

// ::ng-deep .mat-step-label-selected mat-icon {
//     display: inline-block;
// }

// ::ng-deep .mat-vertical-stepper-header {
//     pointer-events: none !important;
// }

.number {    
    border-radius: 45px;
    padding: 4px 8px;
    color: #fff;
    &-pending {
        background-color: grey;
    }
    &-complete {
        background-color: green;
    }
}

// ::ng-deep {
//     .mat-step-header .mat-step-icon-state-edit {
//         background-color: green;
//         color: #fff;
//     }
//     .mat-step-header .mat-step-icon-selected {
//         background-color: grey;
//         color: #fff;
//     }
//     // .mat-step-header .mat-step-icon-state-done {
//     //     background-color: green;
//     //     color: #fff;
//     // }
// }

// .mat-stepper-horizontal {
//     margin-top: 8px;
//   }
  
//   .mat-form-field {
//     margin-top: 16px;
//   }
