<div style="display: flex; justify-content: space-between;">
    <div class="interview-column">
        <h3>To Do</h3>
        <div class="card">
            <img src="/assets/img_avatar.png" alt="Avatar" style="width:100%">
            <div class="container">
                <h4><b>John Doe</b></h4>
                <p>Architect & Engineer</p>
                <div class="container-footer">
                    <mat-icon>expand_more</mat-icon>
                    <span>IGT-8045</span>
                    <img src="/assets/img_avatar.png" alt="Avatar" style="width:20%; border-radius: 50%;">
                </div>
            </div>
        </div>
        <div class="card">
            <img src="/assets/img_avatar.png" alt="Avatar" style="width:100%">
            <div class="container">
                <h4><b>John Doe</b></h4>
                <p>Architect & Engineer</p>
                <div class="container-footer">
                    <mat-icon>expand_more</mat-icon>
                    <span>IGT-8045</span>
                    <img src="/assets/img_avatar.png" alt="Avatar" style="width:20%; border-radius: 50%;">
                </div>
            </div>
        </div>
        <div class="card">
            <img src="/assets/img_avatar.png" alt="Avatar" style="width:100%">
            <div class="container">
                <h4><b>John Doe</b></h4>
                <p>Architect & Engineer</p>
                <div class="container-footer">
                    <mat-icon>expand_more</mat-icon>
                    <span>IGT-8045</span>
                    <img src="/assets/img_avatar.png" alt="Avatar" style="width:20%; border-radius: 50%;">
                </div>
            </div>
        </div>
        <div class="card">
            <img src="/assets/img_avatar.png" alt="Avatar" style="width:100%">
            <div class="container">
                <h4><b>John Doe</b></h4>
                <p>Architect & Engineer</p>
                <div class="container-footer">
                    <mat-icon>expand_more</mat-icon>
                    <span>IGT-8045</span>
                    <img src="/assets/img_avatar.png" alt="Avatar" style="width:20%; border-radius: 50%;">
                </div>
            </div>
        </div>
        <div class="card">
            <img src="/assets/img_avatar.png" alt="Avatar" style="width:100%">
            <div class="container">
                <h4><b>John Doe</b></h4>
                <p>Architect & Engineer</p>
                <div class="container-footer">
                    <mat-icon>expand_more</mat-icon>
                    <span>IGT-8045</span>
                    <img src="/assets/img_avatar.png" alt="Avatar" style="width:20%; border-radius: 50%;">
                </div>
            </div>
        </div>
        <div class="card">
            <img src="/assets/img_avatar.png" alt="Avatar" style="width:100%">
            <div class="container">
                <h4><b>John Doe</b></h4>
                <p>Architect & Engineer</p>
                <div class="container-footer">
                    <mat-icon>expand_more</mat-icon>
                    <span>IGT-8045</span>
                    <img src="/assets/img_avatar.png" alt="Avatar" style="width:20%; border-radius: 50%;">
                </div>
            </div>
        </div>
        <div class="card">
            <img src="/assets/img_avatar.png" alt="Avatar" style="width:100%">
            <div class="container">
                <h4><b>John Doe</b></h4>
                <p>Architect & Engineer</p>
                <div class="container-footer">
                    <mat-icon>expand_more</mat-icon>
                    <span>IGT-8045</span>
                    <img src="/assets/img_avatar.png" alt="Avatar" style="width:20%; border-radius: 50%;">
                </div>
            </div>
        </div>
        <div class="card">
            <img src="/assets/img_avatar.png" alt="Avatar" style="width:100%">
            <div class="container">
                <h4><b>John Doe</b></h4>
                <p>Architect & Engineer</p>
                <div class="container-footer">
                    <mat-icon>expand_more</mat-icon>
                    <span>IGT-8045</span>
                    <img src="/assets/img_avatar.png" alt="Avatar" style="width:20%; border-radius: 50%;">
                </div>
            </div>
        </div>
    </div>
    <div class="interview-column">
        <h3>In Progress</h3>
        <div class="card">
            <img src="/assets/img_avatar.png" alt="Avatar" style="width:100%">
            <div class="container">
                <h4><b>John Doe</b></h4>
                <p>Architect & Engineer</p>
                <div class="container-footer">
                    <mat-icon>expand_more</mat-icon>
                    <span>IGT-8045</span>
                    <img src="/assets/img_avatar.png" alt="Avatar" style="width:20%; border-radius: 50%;">
                </div>
            </div>
        </div>
    </div>
    <div class="interview-column">
        <h3>Selected</h3>
        <div class="card">
            <img src="/assets/img_avatar.png" alt="Avatar" style="width:100%">
            <div class="container">
                <h4><b>John Doe</b></h4>
                <p>Architect & Engineer</p>
                <div class="container-footer">
                    <mat-icon>expand_more</mat-icon>
                    <span>IGT-8045</span>
                    <img src="/assets/img_avatar.png" alt="Avatar" style="width:20%; border-radius: 50%;">
                </div>
            </div>
        </div>
    </div>
    <div class="interview-column">
        <h3>Review Done</h3>
        <div class="card">
            <img src="/assets/img_avatar.png" alt="Avatar" style="width:100%">
            <div class="container">
                <h4><b>John Doe</b></h4>
                <p>Architect & Engineer</p>
                <div class="container-footer">
                    <mat-icon>expand_more</mat-icon>
                    <span>IGT-8045</span>
                    <img src="/assets/img_avatar.png" alt="Avatar" style="width:20%; border-radius: 50%;">
                </div>
            </div>
        </div></div>
    <div class="interview-column">
        <h3>Closed</h3>
        <div class="card">
            <img src="/assets/img_avatar.png" alt="Avatar" style="width:100%">
            <div class="container">
                <h4><b>John Doe</b></h4>
                <p>Architect & Engineer</p>
                <div class="container-footer">
                    <mat-icon>expand_more</mat-icon>
                    <span>IGT-8045</span>
                    <img src="/assets/img_avatar.png" alt="Avatar" style="width:20%; border-radius: 50%;">
                </div>
            </div>
        </div>
    </div>
</div>