<mat-toolbar color="primary" style="background-color: #00283B;">
    <!-- <mat-toolbar-row> -->

    <mat-icon style="margin-right: 1rem;">apps</mat-icon>
    <span>Virtual P-Zone</span>
    <span class="menu-spacer"></span>
    <!-- <a href="#" mat-button>People</a>
    <a href="#" mat-button>Office</a> -->

    <button mat-button [matMenuTriggerFor]="menu" style="font-size: large; margin-left: 1rem;">People<mat-icon>expand_more</mat-icon></button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="menu" style="font-size: large;" >Office<mat-icon>expand_more</mat-icon></button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
    </mat-menu>

    <a style="flex: 1 1 auto;"></a>
    <!-- <div> -->
    <mat-form-field>
        <span matPrefix>
            <mat-icon inline="true">search</mat-icon>
        </span>
        <input floa matInput matAutosize="true" placeholder="Search">
    </mat-form-field>
    <!-- </div> -->
    <mat-icon style="margin-left: 2rem;">help</mat-icon>
    <mat-icon style="margin-left: 2rem;">settings</mat-icon>
    <mat-icon style="margin-left: 2rem;">notifications</mat-icon>

</mat-toolbar>

<!-- <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
        <mat-nav-list>
            <a (click)="sidenav.toggle()" href="" mat-list-item>Close</a>
            <a href="#" mat-list-item>Menu Item 1</a>
            <a href="#" mat-list-item>Menu Item 2</a>
            <a href="#" mat-list-item>Menu Item 3</a>
            <a href="#" mat-list-item>Menu Item 4</a>
            <a href="#" mat-list-item>Menu Item 5</a>
            <a href="#" mat-list-item>Menu Item 6</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>Main content</mat-sidenav-content>
</mat-sidenav-container> -->

<!-- <ul>
    <li><a href="#home">Home</a></li>
    <li><a href="#news">News</a></li>
    <li><a href="#contact">Contact</a></li>
    <li><a href="#about">About</a></li>
</ul> -->