<div style="display: flex; padding: 100px;">
    <button class="pull-left mt-sm" (click)="scrollLeft()" [ngClass]="leftDisabled ? 'visibility':''">
        left
    </button>
    <div class="scroll" #scrollMenu (scroll)="onScroll($event)"
        [ngClass]="rightDisabled ? 'width':leftDisabled?'width':''">
        <div style="border: 2px solid green; margin-left: 40px;background: greenyellow; "> hiiiiiiiiiiiiiii </div>
        <div style="border: 2px solid green; margin-left: 40px;background: greenyellow; "> hiiiiiiiiiiiiiii </div>
        <div style="border: 2px solid green; margin-left: 40px;background: greenyellow; "> hiiiiiiiiiiiiiii </div>
        <div style="border: 2px solid green; margin-left: 40px;background: greenyellow; "> hiiiiiiiiiiiiiii </div>
        <div style="border: 2px solid green; margin-left: 40px;background: greenyellow; "> hiiiiiiiiiiiiiii </div>
        <div style="border: 2px solid green; margin-left: 40px;background: greenyellow; "> hiiiiiiiiiiiiiii </div>
        <div style="border: 2px solid green; margin-left: 40px;background: greenyellow; "> hiiiiiiiiiiiiiii </div>
        <div style="border: 2px solid green; margin-left: 40px;background: greenyellow; "> hiiiiiiiiiiiiiii </div>
        <div style="border: 2px solid green; margin-left: 40px;background: greenyellow; "> hiiiiiiiiiiiiiii </div>
        <div style="border: 2px solid green; margin-left: 40px;background: greenyellow; "> hiiiiiiiiiiiiiii </div>
        <div style="border: 2px solid green; margin-left: 40px;background: greenyellow; "> hiiiiiiiiiiiiiii </div>
        <div style="border: 2px solid green; margin-left: 40px;background: greenyellow; "> hiiiiiiiiiiiiiii </div>
        <div style="border: 2px solid green; margin-left: 40px;background: greenyellow; "> hiiiiiiiiiiiiiii </div>
        <div style="border: 2px solid green; margin-left: 40px;background: greenyellow; "> hiiiiiiiiiiiiiii </div>
        <div style="border: 2px solid green; margin-left: 40px;background: greenyellow; "> hiiiiiiiiiiiiiii </div>
        <div style="border: 2px solid green; margin-left: 40px;background: greenyellow; "> hiiiiiiiiiiiiiii </div>
        <div style="border: 2px solid green; margin-left: 40px;background: greenyellow; "> hiiiiiiiiiiiiiii </div>
        <div style="border: 2px solid green; margin-left: 40px;background: greenyellow; "> hiiiiiiiiiiiiiii </div>
        <div style="border: 2px solid green; margin-left: 40px;background: greenyellow; "> hiiiiiiiiiiiiiii </div>
        <div style="border: 2px solid green; margin-left: 40px;background: greenyellow; "> hiiiiiiiiiiiiiii </div>
        <div style="border: 2px solid green; margin-left: 40px;background: greenyellow; "> hiiiiiiiiiiiiiii </div>
        <div style="border: 2px solid green; margin-left: 40px;background: greenyellow; "> hiiiiiiiiiiiiiii </div>
        <div style="border: 2px solid green; margin-left: 40px;background: greenyellow; "> hiiiiiiiiiiiiiii </div>
        <div style="border: 2px solid green; margin-left: 40px;background: greenyellow; "> hiiiiiiiiiiiiiii </div>
    </div>
    <button class="pull-right" (click)="scrollRight()" [ngClass]="rightDisabled ? 'visibility':''">
        right
    </button>
</div>