<!-- <div class="recruiter-list">
    <div>r1</div>
    <div>r2</div>
    <div>r3</div>
    <div>r3</div>
</div> -->

<p><button mat-button>Header</button></p>
<mat-sidenav-container class="recruiter-list">
    <mat-sidenav-content>
        <app-dialog title='title' btnLabel='btnLabel' contentHeader='contentHeader' contentBody='contentBody'
            [openDialog]="openDialog" (dialogClose)="dialogClose($event)">
        </app-dialog>
        <p>
            <button (click)="openDialog = !openDialog">toggle dialog</button>
        </p>
        <p>
            <a [routerLink]="['/var']" [queryParams]="{details: true}">true details</a>
        </p>
        <p>
            <!-- {{ currentDate | dateFormat }} -->
            {{ currentDate | dateFormat }}
        </p>
        <p><button mat-button>Recruiter</button></p>
        <p><button mat-button>Recruiter</button></p>
        <p><button mat-button>Recruiter</button></p>
        <p><button mat-button>Recruiter</button></p>
        <p><button mat-button>Recruiter</button></p>
        <p><button mat-button>Recruiter</button></p>
        <p><button mat-button>Recruiter</button></p>
        <p><button mat-button>Recruiter</button></p>
        <p><button mat-button>Recruiter</button></p>
        <p><button mat-button>Recruiter</button></p>
        <p><button mat-button>Recruiter</button></p>
        <p><button mat-button>Recruiter</button></p>
        <p><button mat-button>Recruiter</button></p>
        <p><button mat-button>Recruiter</button></p>
        <p><button mat-button>Recruiter</button></p>
        <p><button mat-button>Recruiter</button></p>
        <p><button mat-button>Recruiter</button></p>
        <p><button mat-button>Recruiter</button></p>
        <p><button mat-button>Recruiter</button></p>
        <p><button mat-button>Recruiter</button></p>
    </mat-sidenav-content>
</mat-sidenav-container>
<p><button mat-button>Footer</button></p>


<!-- <mat-sidenav-container class="example-container">
    <mat-sidenav-content [formGroup]="options">
        <p>
            <mat-checkbox formControlName="fixed">Fixed</mat-checkbox>
        </p>
        <p>
            <mat-form-field>
                <mat-label>Top gap</mat-label>
                <input matInput type="number" formControlName="top">
            </mat-form-field>
        </p>
        <p>
            <mat-form-field>
                <mat-label>Bottom gap</mat-label>
                <input matInput type="number" formControlName="bottom">
            </mat-form-field>
        </p>
        <p><button mat-button (click)="sidenav.toggle()">Toggle</button></p>
    </mat-sidenav-content>
</mat-sidenav-container> -->