/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@angular/material/theming';

// @import "./variables.scss";

// body {
//   font-family: Roboto, Arial, sans-serif;
//   margin: 0;
// }

// @include mat-core($custom-typography);

// $custom-typography: mat-typography-config(
//   $font-family: 'Lato, sans-serif'
// );

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.mat-select-panel {
  max-height: 365px !important;
  font-size: 18px !important;
  font-weight: normal !important;
  min-width: calc(100% + 4px) !important;
  margin-top: 45px;
  margin-left: 15px;
}

.mat-toolbar {
    font-weight: normal;
    font-stretch: normal;
    font-size: 15px;
    line-height: 10px ;
}

.mat-toolbar .mat-form-field-label{
  color: gray;
  // color: $brownish-gray;
  padding-left: 16px !important;
}

.mat-form-field-infix {
  width: 298px !important;
}

.mat-form-field-flex:active, 
.mat-form-field-flex:focus,
.mat-form-field-flex:focus-visible,
.mat-form-field-infix:active, 
.mat-form-field-infix:focus,
.mat-form-field-infix:focus-visible
{
  border: 10px solid red !important;
}

.mat-input-element {
  padding-left: 16px !important;
  font-size: 18px !important;
}

.mat-select-value-text {
  padding-left: 16px !important;
  font-size: 18px !important;
}

.mat-select-arrow {
  object-fit: contain !important;
}

.mat-button.mat-focused, .mat-button:focus {
  // background-color: red;
  border-bottom: 2px solid red;
}

.mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: red;
}

.mat-form-field.mat-focused.mat-primary .mat-select-arrow {
  color: red;
}    

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: red;
}

// change mat select arrow icon
// https://newbedev.com/change-mat-select-arrow-icon
// .mat-select-arrow {
//   border-left: 15px solid transparent !important;
//   border-right: none !important;
//   border-top: 15px solid transparent !important;
//   border-image-source: url('my img url') !important;
//   border-image-repeat: stretch !important;
// }
