// @import "../../variables.scss";

.toolbar {
  position: fixed;
  background-color: grey;
//   background-color: $tangaroa;
  height: 4.625rem;
  display: flex;
  justify-content: space-between;
}

.icon{
  margin-right: 1rem;
}

.select {
  display: flex; 
  flex-direction: column;

  &_lable {
    &_one {
      font-size: 10px;
      padding-left: 0.5rem;
      padding-top: 6px;
      padding-bottom: 4px;
    }
    &_two {
      font-size: 10px;
      padding-left: 1rem;
      padding-top: 6px;
      padding-bottom: 4px;
    }
  }
}


.button{
  font-size: large;

  &_one {
    margin-left: 0.5rem;
  }
  &_two {
    margin-left: 1rem;
  }
}

:host{
  ::ng-deep {
    .mat-form-field-infix {
  border: solid 1px white !important;
  color: black !important;
  background-color: white !important;
    }
  }
}

.right_icon{
  margin-left: 1rem;
}

.image {
  width: 8.125rem;
}

.logo {
  display: flex;
}

.label{
  padding-top: 9px;
  font-size: 22px;
}

:host:ng-deep {
  .mat-form-field-flex {
    // outline: -webkit-focus-ring-color auto 1px;
    border: 10px solid red;
  }
  .mat-form-field:focus {
    outline: -webkit-focus-ring-color auto 1px;
  }
  .mat-select.mat-focused .mat-select-trigger .mat-select-arrow {
    color: #63961C;
  }
  .mat-select.mat-focused .mat-select-trigger .mat-select-underline {
    background-color: #63961C;
  }
}

.mat-form-field-ripple {
  background-color: red;
  }