<ag-grid-angular 
	style="width: 1000px; height: 500px;" 
	class="ag-theme-balham"
	[rowData]="rowData" 
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    [tooltipShowDelay]="tooltipShowDelay"
    [tooltipHideDelay]="tooltipHideDelay" 
>
</ag-grid-angular>

<ag-grid-angular
style="width: 100%; height: 450px;" class="ag-theme-balham" [gridOptions]="gridOptions" [rowData]="rowData" 
[defaultColDef]="defaultColDef" [tooltipShowDelay]="tooltipShowDelay"
[tooltipHideDelay]="tooltipHideDelay" [sideBar]="sideBar" toolPanel='columns' enablePivot="true" >
 <ag-grid-column headerName="make" field="make"></ag-grid-column>
 <ag-grid-column headerName="model" field="model"></ag-grid-column>
</ag-grid-angular>

<button type="button" (click)="btnClick()">Show/Hide</button>